#crystal1 {
    border: 5px solid black;
}

#crystal2 {
    border: 5px solid black;
}

#crystal3 {
    border: 5px solid black;
}

#crystal4 {
    border: 5px solid black;
}

h1 {
    text-align: center
}